- var chartist              = true;
- var photo_swipe           = true;
- var apex                  = true;
- var chartjs               = true;
- var theme_customizer      = true;
- var animate               = true;
- var crypto_dashboard      = true;
- var counter               = true;
- var sidebar               = true;
- var scrollbar             = true;


doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body  
          .container-fluid
            .page-title
              .row
                .col-12.col-sm-6
                  h3 
                    | Crypto Dashboard
                .col-12.col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html').home-item
                        i(data-feather="home")
                    li.breadcrumb-item Dashboard
                    li.breadcrumb-item.active Crypto-Dashboard
          // Container-fluid starts
          .container-fluid.crypto-dash
            .row
                .col-xl-3.col-md-6.dash-lg-50
                  .card.crypto-chart.overflow-hidden
                    .card-header.card-no-border 
                      .media 
                        .media-body
                          .coin-logo-img.bg-light-primary
                           svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                            g(clip-path='url(#clip0_381_28)')
                              path(d='M20.8207 11.8844C20.2399 12.6354 19.3635 13.1513 18.1914 13.4316C19.684 14.1929 20.3398 15.4851 20.1598 17.3082C20.0996 17.9693 19.9169 18.5423 19.6112 19.0279C19.3054 19.5137 18.8927 19.9042 18.3715 20.1996C17.8507 20.4954 17.2843 20.7206 16.6736 20.8759C16.0628 21.0311 15.3615 21.1438 14.5702 21.2139V25H12.2566V21.319C11.856 21.319 11.2451 21.309 10.4238 21.289V25H8.10996V21.2139C7.77933 21.2038 7.29362 21.1987 6.65261 21.1987L3.46753 21.2139V18.7498H5.13511C5.89636 18.7498 6.34208 18.4092 6.47227 17.7282V13.4161C6.57257 13.4161 6.65261 13.411 6.71276 13.401H6.47227V7.36143C6.39223 6.85072 6.1018 6.59513 5.60093 6.59513H3.93346L3.46763 3.84561H6.47253C6.66287 3.84561 6.93815 3.84308 7.29888 3.83856C7.6594 3.83351 7.92973 3.83098 8.11007 3.83098V-0.00015831H10.4243V3.78593C10.8449 3.77567 11.4558 3.77078 12.2571 3.77078V-0.00015831H14.5707V3.83098C15.3922 3.87098 16.1208 3.9457 16.7566 4.05626C17.3926 4.16682 18.0013 4.33932 18.5821 4.57487C19.1628 4.81009 19.6485 5.10326 20.0391 5.45383C20.4299 5.80409 20.7526 6.25002 21.0085 6.79099C21.2635 7.33196 21.4265 7.95797 21.4964 8.66928C21.6271 10.0612 21.4016 11.133 20.8207 11.8844ZM10.4688 18.585C10.539 18.585 10.7368 18.5875 11.0623 18.5926C11.388 18.5977 11.6583 18.6027 11.8736 18.6077C12.089 18.6127 12.3795 18.6002 12.7452 18.5701C13.1108 18.5401 13.4188 18.4999 13.6691 18.4499C13.9194 18.3999 14.1951 18.3173 14.4953 18.2021C14.7961 18.087 15.0363 17.9467 15.2164 17.7814C15.3968 17.6162 15.5495 17.4058 15.6745 17.1503C15.7999 16.8949 15.8625 16.602 15.8625 16.2715C15.8625 15.991 15.8175 15.7355 15.7275 15.5051C15.6376 15.2747 15.502 15.0819 15.3219 14.9266C15.1418 14.7713 14.9562 14.636 14.7658 14.5209C14.5757 14.4058 14.3326 14.3131 14.0372 14.243C13.7419 14.1729 13.484 14.1178 13.2637 14.0778C13.0434 14.0377 12.768 14.0101 12.4374 13.9951C12.1068 13.9802 11.8563 13.97 11.6861 13.965C11.5157 13.9601 11.2829 13.9601 10.9874 13.965C10.6917 13.97 10.5192 13.9726 10.469 13.9726V18.5851H10.4688V18.585ZM16.7868 8.35359C16.6914 8.1231 16.5689 7.92266 16.4187 7.75227C16.2683 7.58229 16.0704 7.43189 15.8251 7.30186C15.5799 7.17146 15.3418 7.06648 15.1116 6.98633C14.8811 6.90587 14.6031 6.83615 14.2778 6.77584C13.9519 6.71569 13.6666 6.67338 13.421 6.64817C13.1757 6.62307 12.8829 6.60313 12.5422 6.58797C12.2017 6.57324 11.9362 6.56561 11.7459 6.56561C11.5556 6.56561 11.3151 6.56834 11.0247 6.57324C10.734 6.57792 10.5489 6.58045 10.4687 6.58045V11.6589C10.5487 11.6589 10.7867 11.6638 11.1824 11.674C11.5782 11.6841 11.901 11.6888 12.1514 11.6888C12.4018 11.6888 12.7475 11.674 13.1884 11.6437C13.6288 11.6139 13.9995 11.569 14.3002 11.5089C14.6006 11.4487 14.9284 11.3562 15.2842 11.2308C15.6397 11.1057 15.9278 10.953 16.1482 10.7727C16.3686 10.5921 16.5538 10.3621 16.704 10.0815C16.8545 9.80116 16.9296 9.48057 16.9296 9.11989C16.9296 8.83915 16.8821 8.58414 16.7868 8.35359Z')
                            defs
                              clippath#clip0_381_28
                                rect(width='25' height='25' fill='white' transform='matrix(1 0 0 -1 0 25)')
                          h5.font-primary
                            | Bitcoin
                          span (BTC)
                        .media-end
                          h6 305.64
                          span.badge.badge-light-primary
                            i(data-feather="arrow-up") 
                            | 7.6
                    .card-body.p-0
                        .crypto-dashborad-chart
                          #bitcoin-chart
                .col-xl-3.col-md-6.dash-lg-50
                  .card.crypto-chart.overflow-hidden
                    .card-header.card-no-border 
                      .media 
                        .media-body 
                          .coin-logo-img.bg-light-secondary
                            svg(width='22' height='24' viewbox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(d='M14.543 23.3543C12.9802 22.4279 12.0549 20.755 12.0549 18.9909C12.0549 18.0645 12.4236 17.1309 12.8851 16.2979C13.2538 15.5539 13.4345 14.2554 12.1478 13.605C11.2296 13.0506 10.0284 13.4202 9.47903 14.349C8.9295 15.093 8.28496 15.837 7.45479 16.3915C5.89208 17.3179 4.04859 17.3179 2.48576 16.3915C0.92293 15.4651 0 13.788 0 12.0234C0 10.2588 0.918173 8.58649 2.48541 7.65757C4.04812 6.73117 5.8916 6.73117 7.45443 7.65757C8.28461 8.12317 8.92903 8.86237 9.38591 9.70009C9.75456 10.3505 10.7679 11.1881 12.0547 10.4441C12.9729 9.88969 13.2488 8.67757 12.792 7.75117C12.3306 6.91357 12.0547 5.98465 12.0547 5.05825C12.0547 3.29172 12.9729 1.62132 14.5427 0.694799C16.1054 -0.231602 17.9489 -0.231602 19.5117 0.694799C21.0746 1.6212 22 3.29412 22 5.05825C22 6.82237 21.0794 8.49517 19.512 9.42409C18.6818 9.88969 17.7613 10.0745 16.7503 10.0745C15.9202 10.0745 14.8188 10.6289 14.8188 12.0234C14.8188 13.1394 15.649 13.9723 16.7503 13.9723C17.6685 13.9723 18.6818 14.1571 19.512 14.6227C21.0747 15.5491 22 17.2221 22 18.9861C22 20.7501 21.0794 22.423 19.512 23.3495C18.7747 23.8151 17.8564 23.9999 17.0266 23.9999C16.2012 24.0047 15.2758 23.8151 14.5433 23.3543')

                          h5.font-secondary
                            | Ripple
                          span  (XRP)
                        .media-end
                          h6 52367.32
                          span.badge.badge-light-secondary
                            i(data-feather="arrow-up") 
                            | 2.8
                    .card-body.p-0
                        .crypto-dashborad-chart
                          #ripple-chart
                .col-xl-3.col-md-6.dash-lg-50
                  .card.crypto-chart.overflow-hidden
                    .card-header.card-no-border 
                      .media 
                        .media-body 
                          .coin-logo-img.bg-light-info
                            svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(d='M14.0154 18.2428L6.34375 14.5932L14.0154 28L21.6872 14.5932L14.0154 18.2428Z' fill="#00B8E9")
                              path(d='M20.8518 11.8736L14.0154 0L7.17139 11.8873L14.0154 8.64062L20.8518 11.8736Z' fill="#00B8E9")
                              path(d='M7.76465 13.4277L14.0155 16.3885L20.2768 13.4228L14.0155 10.4622L7.76465 13.4277Z' fill="#00B8E9")

                          h5.font-info
                            | Ethereum
                          span  (ETH)
                        .media-end
                          h6 68.52
                          span.badge.badge-light-info
                            i(data-feather="arrow-up") 
                            | 5.9
                    .card-body.p-0
                        .crypto-dashborad-chart
                          #ethereum-chart
                .col-xl-3.col-md-6.dash-lg-50
                  .card.crypto-chart
                    .card-header.card-no-border 
                      .media 
                        .media-body 
                          .coin-logo-img.bg-light-warning
                            svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(d='M7.91709 14.4563L9.08428 10.0547L11.8546 9.04219L12.5437 6.45469L12.5155 6.39844L9.7874 7.39687L11.7562 0H6.1874L3.61397 9.64687L1.47646 10.4344L0.759277 13.0922L2.91084 12.3187L1.39209 18H16.214L17.1562 14.4563H7.91709Z' fill="#FF8819")

                          h5.font-warning
                            | Litecoin
                          span (LTC)
                        .media-end
                          h6 204.42
                          span.badge.badge-light-warning
                            i(data-feather="arrow-up") 
                            | 4.2
                    .card-body.p-0
                        .crypto-dashborad-chart
                          #litecoin-chart
                .col-xl-4.col-md-6.dash-35.dash-xl-50
                  .card.trading-activities.ongoing-project
                    .card-header.card-no-border
                      .media
                        .media-body
                          h5.mb-0 Trading Activities
                        .icon-box.onhover-dropdown
                          i(data-feather="more-horizontal")
                          .icon-box-show.onhover-show-div
                            ul 
                              li 
                                a  
                                  | Done
                              li 
                                a 
                                  | Pending
                              li  
                                a 
                                  | Rejected
                              li 
                                a
                                  | In Progress
                    .card-body.pt-0
                      .table-responsive
                        table.table.table-bordernone
                          tbody 
                            tr
                              td
                                .media 
                                  i(data-feather="arrow-up").font-success
                                  .table-box-img.bg-light-primary
                                    svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                      g(clip-path='url(#clip0_381_28)')
                                        path(d='M20.8207 11.8844C20.2399 12.6354 19.3635 13.1513 18.1914 13.4316C19.684 14.1929 20.3398 15.4851 20.1598 17.3082C20.0996 17.9693 19.9169 18.5423 19.6112 19.0279C19.3054 19.5137 18.8927 19.9042 18.3715 20.1996C17.8507 20.4954 17.2843 20.7206 16.6736 20.8759C16.0628 21.0311 15.3615 21.1438 14.5702 21.2139V25H12.2566V21.319C11.856 21.319 11.2451 21.309 10.4238 21.289V25H8.10996V21.2139C7.77933 21.2038 7.29362 21.1987 6.65261 21.1987L3.46753 21.2139V18.7498H5.13511C5.89636 18.7498 6.34208 18.4092 6.47227 17.7282V13.4161C6.57257 13.4161 6.65261 13.411 6.71276 13.401H6.47227V7.36143C6.39223 6.85072 6.1018 6.59513 5.60093 6.59513H3.93346L3.46763 3.84561H6.47253C6.66287 3.84561 6.93815 3.84308 7.29888 3.83856C7.6594 3.83351 7.92973 3.83098 8.11007 3.83098V-0.00015831H10.4243V3.78593C10.8449 3.77567 11.4558 3.77078 12.2571 3.77078V-0.00015831H14.5707V3.83098C15.3922 3.87098 16.1208 3.9457 16.7566 4.05626C17.3926 4.16682 18.0013 4.33932 18.5821 4.57487C19.1628 4.81009 19.6485 5.10326 20.0391 5.45383C20.4299 5.80409 20.7526 6.25002 21.0085 6.79099C21.2635 7.33196 21.4265 7.95797 21.4964 8.66928C21.6271 10.0612 21.4016 11.133 20.8207 11.8844ZM10.4688 18.585C10.539 18.585 10.7368 18.5875 11.0623 18.5926C11.388 18.5977 11.6583 18.6027 11.8736 18.6077C12.089 18.6127 12.3795 18.6002 12.7452 18.5701C13.1108 18.5401 13.4188 18.4999 13.6691 18.4499C13.9194 18.3999 14.1951 18.3173 14.4953 18.2021C14.7961 18.087 15.0363 17.9467 15.2164 17.7814C15.3968 17.6162 15.5495 17.4058 15.6745 17.1503C15.7999 16.8949 15.8625 16.602 15.8625 16.2715C15.8625 15.991 15.8175 15.7355 15.7275 15.5051C15.6376 15.2747 15.502 15.0819 15.3219 14.9266C15.1418 14.7713 14.9562 14.636 14.7658 14.5209C14.5757 14.4058 14.3326 14.3131 14.0372 14.243C13.7419 14.1729 13.484 14.1178 13.2637 14.0778C13.0434 14.0377 12.768 14.0101 12.4374 13.9951C12.1068 13.9802 11.8563 13.97 11.6861 13.965C11.5157 13.9601 11.2829 13.9601 10.9874 13.965C10.6917 13.97 10.5192 13.9726 10.469 13.9726V18.5851H10.4688V18.585ZM16.7868 8.35359C16.6914 8.1231 16.5689 7.92266 16.4187 7.75227C16.2683 7.58229 16.0704 7.43189 15.8251 7.30186C15.5799 7.17146 15.3418 7.06648 15.1116 6.98633C14.8811 6.90587 14.6031 6.83615 14.2778 6.77584C13.9519 6.71569 13.6666 6.67338 13.421 6.64817C13.1757 6.62307 12.8829 6.60313 12.5422 6.58797C12.2017 6.57324 11.9362 6.56561 11.7459 6.56561C11.5556 6.56561 11.3151 6.56834 11.0247 6.57324C10.734 6.57792 10.5489 6.58045 10.4687 6.58045V11.6589C10.5487 11.6589 10.7867 11.6638 11.1824 11.674C11.5782 11.6841 11.901 11.6888 12.1514 11.6888C12.4018 11.6888 12.7475 11.674 13.1884 11.6437C13.6288 11.6139 13.9995 11.569 14.3002 11.5089C14.6006 11.4487 14.9284 11.3562 15.2842 11.2308C15.6397 11.1057 15.9278 10.953 16.1482 10.7727C16.3686 10.5921 16.5538 10.3621 16.704 10.0815C16.8545 9.80116 16.9296 9.48057 16.9296 9.11989C16.9296 8.83915 16.8821 8.58414 16.7868 8.35359Z')
                                      defs
                                        clippath#clip0_381_28
                                          rect(width='25' height='25' fill='white' transform='matrix(1 0 0 -1 0 25)')
                                  .media-body
                                    .avatar-details
                                      a(href="product-page.html")
                                        h6 Bitcoin
                                      span  BTC
                              td
                                h6 $9,594.72
                                span 1,258.00 AKT
                              td
                                span 11:30 AM - 16 May 2021                              
                              td.text-center
                                .badge.badge-light-primary Buy
                            tr
                              td
                                .media
                                  i(data-feather="arrow-down").font-danger
                                  .table-box-img.bg-light-secondary
                                    svg(width='22' height='24' viewbox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                      path(d='M14.543 23.3543C12.9802 22.4279 12.0549 20.755 12.0549 18.9909C12.0549 18.0645 12.4236 17.1309 12.8851 16.2979C13.2538 15.5539 13.4345 14.2554 12.1478 13.605C11.2296 13.0506 10.0284 13.4202 9.47903 14.349C8.9295 15.093 8.28496 15.837 7.45479 16.3915C5.89208 17.3179 4.04859 17.3179 2.48576 16.3915C0.92293 15.4651 0 13.788 0 12.0234C0 10.2588 0.918173 8.58649 2.48541 7.65757C4.04812 6.73117 5.8916 6.73117 7.45443 7.65757C8.28461 8.12317 8.92903 8.86237 9.38591 9.70009C9.75456 10.3505 10.7679 11.1881 12.0547 10.4441C12.9729 9.88969 13.2488 8.67757 12.792 7.75117C12.3306 6.91357 12.0547 5.98465 12.0547 5.05825C12.0547 3.29172 12.9729 1.62132 14.5427 0.694799C16.1054 -0.231602 17.9489 -0.231602 19.5117 0.694799C21.0746 1.6212 22 3.29412 22 5.05825C22 6.82237 21.0794 8.49517 19.512 9.42409C18.6818 9.88969 17.7613 10.0745 16.7503 10.0745C15.9202 10.0745 14.8188 10.6289 14.8188 12.0234C14.8188 13.1394 15.649 13.9723 16.7503 13.9723C17.6685 13.9723 18.6818 14.1571 19.512 14.6227C21.0747 15.5491 22 17.2221 22 18.9861C22 20.7501 21.0794 22.423 19.512 23.3495C18.7747 23.8151 17.8564 23.9999 17.0266 23.9999C16.2012 24.0047 15.2758 23.8151 14.5433 23.3543')

                                  .media-body
                                    .avatar-details
                                      a(href="product-page.html")
                                        h6 Ripple
                                      span  XRP
                              td
                                h6 0.04382 XRP
                                span 2,364.85 B20
                              td
                                span 12:30 AM - 05 Apr 2021                             
                              td.text-center
                                .badge.badge-light-secondary Sell
                            tr
                              td
                                .media
                                  i(data-feather="arrow-up").font-success
                                  .table-box-img.bg-light-info
                                    svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                      path(d='M14.0154 18.2428L6.34375 14.5932L14.0154 28L21.6872 14.5932L14.0154 18.2428Z' fill='#00B8E9')
                                      path(d='M20.8518 11.8736L14.0154 0L7.17139 11.8873L14.0154 8.64062L20.8518 11.8736Z' fill='#00B8E9')
                                      path(d='M7.76465 13.4277L14.0155 16.3885L20.2768 13.4228L14.0155 10.4622L7.76465 13.4277Z' fill='#00B8E9')

                                  .media-body
                                    .avatar-details
                                      a(href="product-page.html")
                                        h6 Ethereum
                                      span  ETH
                              td
                                h6 0.0445 ETH
                                span 783.56 MIR
                              td
                                span 10:30 AM - 20 Jun 2021                             
                              td.text-center
                                .badge.badge-light-primary Buy
                            tr
                              td
                                .media
                                  i(data-feather="arrow-down").font-danger
                                  .table-box-img.bg-light-warning
                                      svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.91709 14.4563L9.08428 10.0547L11.8546 9.04219L12.5437 6.45469L12.5155 6.39844L9.7874 7.39687L11.7562 0H6.1874L3.61397 9.64687L1.47646 10.4344L0.759277 13.0922L2.91084 12.3187L1.39209 18H16.214L17.1562 14.4563H7.91709Z' fill='#FF8819')

                                  .media-body
                                    .avatar-details
                                      a(href="product-page.html")
                                        h6 Litecoin
                                      span  BTC
                              td
                                h6 0.00255 BTC
                                span 307.94 USF
                              td
                                span 1:30 AM - 12 Apr 2021
                              td.text-center
                                .badge.badge-light-secondary Sell
                .col-xl-4.col-md-6.dash-31.dash-xl-50
                  .card.cripto-notification
                    .card-header.card-no-border
                      .media.media-dashboard
                        .media-body 
                          h5.mb-0 Notification     
                        .icon-box.onhover-dropdown
                          i(data-feather="more-horizontal")
                          .icon-box-show.onhover-show-div
                            ul 
                              li 
                                a  
                                  | Latest 
                              li 
                                a 
                                  | Earlist
                    .card-body.pt-0   
                      .table-responsive                   
                        table.table.table-bordernone
                          tbody 
                            tr
                              td
                                .media 
                                  .square-box
                                    img(src="../assets/images/avtar/teacher.png", alt="")
                                  .media-body
                                    h5 Clifford Hale
                                      span.font-theme-light.f-w-400.f-12.ms-3 Sent you a message
                                    p.mb-0 Hallo bro anak ? wes Kulish urung?...
                              td
                                span.badge.badge-light-theme-light.font-theme-light 2 hours ago
                            tr
                              td
                                .media 
                                  .square-box
                                    img(src="../assets/images/avtar/teacher.png", alt="")
                                  .media-body
                                    h5 Lottie Marsh
                                      span.font-theme-light.f-w-400.f-12.ms-3 Sent you a message
                                    p Bro iki nggo tutu es anakmu yo, judi neh!!
                                    span.font-primary.f-12 +380.234

                              td
                                span.badge.badge-light-theme-light.font-theme-light 10 jul 2020
                            tr
                              td
                                .media 
                                  .square-box
                                    img(src="../assets/images/avtar/teacher.png", alt="")
                                  .media-body
                                    h5 BTC
                                      span.font-theme-light.f-w-400.f-12.ms-3 News
                                    p Bitcoin baru saja  salah lho
                                    .notification-chart-sec
                                      #notification-chart 
                                      span.font-primary.f-w-400.f-10 +39.69%
                              td
                                span.badge.badge-light-theme-light.font-theme-light 22 Jun 2020
                .col-xl-3.col-md-6.dash-31.dash-xl-50.dash-xlorder-1
                  .card.cripto-chat
                    .card-header.card-no-border
                        .media.media-dashboard
                            .media-body 
                              h5.mb-0 Chat   
                            .icon-box.onhover-dropdown
                              i(data-feather="more-horizontal")
                              .icon-box-show.onhover-show-div
                                ul 
                                  li 
                                    a  
                                      | Latest 
                                  li 
                                    a 
                                      | Earlist  
                    .card-body.pt-0
                      .chat 
                        .media.left-side-chat
                          .square-box 
                            a(href="user-profile.html")
                              img(src="../assets/images/avtar/chat-user-1.png", alt="")
                          .media-body 
                            .msg-box  Project has been already finished and i have results to show you. 
                        .media.right-side-chat
                          .media-body 
                            .msg-box  Well I am not sure. The rest of the team is not here yet
                              img.img-fluid(src="../assets/images/crypto-dashboard/emoji.png", alt="")
                          .square-box.ms-2
                            a(href="user-profile.html") 
                              img(src="../assets/images/avtar/chat-user-2.png", alt="")
                        .media.left-side-chat
                          .square-box
                            a(href="user-profile.html") 
                              img(src="../assets/images/avtar/chat-user-1.png", alt="")
                          .media-body.image-swipe
                            .my-gallery(itemscope='')
                              .row.gallery
                                figure.inner-img.ms-3(itemprop='associatedMedia', itemscope='')
                                  a(href='../assets/images/dashboard-2/rectangle-26.png', itemprop='contentUrl', data-size='950x950')
                                    img.img-fluid(src='../assets/images/dashboard-2/rectangle-26.png', itemprop='thumbnail', alt='Image description')
                                  figcaption(itemprop='caption description') Image caption  1
                                figure.inner-img.ms-3(itemprop='associatedMedia', itemscope='')
                                  a(href='../assets/images/dashboard-2/rectangle-27.png', itemprop='contentUrl', data-size='950x950')
                                    img.img-fluid(src='../assets/images/dashboard-2/rectangle-27.png', itemprop='thumbnail', alt='Image description')
                                  figcaption(itemprop='caption description') Image caption  2
                      .input-group
                        .input-group-text.bg-primary
                          img(src="../assets/images/crypto-dashboard/emoji.png", alt="")
                        input.form-control(type="text", placeholder="Type a message....." )
                        .input-group-text.bg-primary                         
                          i.font-white(data-feather="send")
                .col-xl-7.dash-xl-100
                  .card.candlestick-chart      
                    .card-body
                        #candlestick-chart
                        .candlestick-detail
                          h3 50 / 100
                          h4  Total 80,52, 225 $
                .col-xl-5.col-md-6.dash-xl-50
                  .card.buy-sell
                    .card-header.card-no-border 
                      .media 
                        .media-body
                          ul#pills-tab.nav.nav-pills(role='tablist')
                            li.nav-item
                              a#pills-home-tab.nav-link.active(data-bs-toggle='pill', href='#pills-home' ) Buy 
                            li.nav-item
                              a#pills-profile-tab.nav-link(data-bs-toggle='pill', href='#pills-profile') Sell 
                        .media-end 
                          h5 USD Balance: $ 7200.00   
                    .card-body.pt-0
                      #pills-tabContent.tab-content
                        #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
                            .buy-sell-form 
                              form                    
                                .form-group
                                  .small-group
                                    label  Amount
                                    .input-group
                                      input.form-control(type="text", placeholder="7,904.65")
                                      span.input-group-text.bg-transparent USD
                                  .small-group                                   
                                    .convert-img.text-center
                                        svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                          g(clip-path='url(#clip0_449_18)')
                                            path(d='M27.7073 10.2929L20.7071 3.29275C20.3166 2.90228 19.6834 2.90239 19.2929 3.29299C19.1055 3.48049 19.0002 3.73467 19.0001 3.99981V6.99986H12C11.4477 6.99986 10.9999 7.44758 10.9999 7.9999C10.9999 8.55221 11.4477 8.99993 12 8.99993H20.0001C20.5525 8.99993 21.0002 8.55221 21.0002 7.9999V6.4138L25.5863 10.9999L21.0002 15.586V13.9999C21.0002 13.4476 20.5525 12.9999 20.0001 12.9999H8.99992V9.99985C8.99981 9.44754 8.55197 8.99993 7.99971 9.00005C7.73463 9.00011 7.48039 9.1054 7.29289 9.29285L0.292812 16.293C-0.0976041 16.6835 -0.0976041 17.3165 0.292812 17.707L7.29294 24.7071C7.48045 24.8947 7.73475 25.0001 7.99995 25.0001C8.13138 25.0006 8.26163 24.9747 8.38292 24.9242C8.75652 24.7692 9.00004 24.4046 8.99992 24.0001V21.0001H16.0001C16.5524 21.0001 17.0001 20.5523 17.0001 20C17.0001 19.4477 16.5524 19 16.0001 19H7.99995C7.44763 19 6.99991 19.4477 6.99991 20V21.5861L2.41382 17L6.99991 12.4139V13.9999C6.99991 14.5522 7.44763 15 7.99995 15H19.0001V18C19.0002 18.5523 19.4481 18.9999 20.0003 18.9998C20.2654 18.9998 20.5196 18.8945 20.7071 18.707L27.7073 11.7069C28.0976 11.3164 28.0976 10.6834 27.7073 10.2929Z')
                                          defs
                                            clippath#clip0_449_18
                                              rect(width='28' height='28' fill='white')

                                  .small-group                                   
                                      .dropdown
                                        .dropdown-toggle(data-bs-toggle="dropdown")
                                          | Monthly  
                                        ul.dropdown-menu
                                          li 
                                            a.dropdown-item Monthly  
                                          li 
                                            a.dropdown-item Yearly
                                          li 
                                            a.dropdown-item Weekly
                                      .input-group
                                        input.form-control(type="text", placeholder="30")
                                        span.input-group-text.bg-transparent BTC
                                .form-group.d-block.mb-0
                                  label  Total   
                                  .input-group
                                    input.form-control(type="text", placeholder="58794,53")
                                    span.input-group-text.bg-transparent TUSD
                                .form-group.mb-0
                                  .btn.btn-primary.btn-block.text-center
                                    a(href="pricing.html") Buy  Now!
                        #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
                           .buy-sell-form 
                              form                               
                                .form-group
                                  .small-group
                                    label  Amount
                                    .input-group
                                      input.form-control(type="text", placeholder="7,904.65")
                                      span.input-group-text.bg-transparent USD
                                  .small-group                                   
                                    .convert-img.text-center
                                        svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                          g(clip-path='url(#clip0_449_18)')
                                            path(d='M27.7073 10.2929L20.7071 3.29275C20.3166 2.90228 19.6834 2.90239 19.2929 3.29299C19.1055 3.48049 19.0002 3.73467 19.0001 3.99981V6.99986H12C11.4477 6.99986 10.9999 7.44758 10.9999 7.9999C10.9999 8.55221 11.4477 8.99993 12 8.99993H20.0001C20.5525 8.99993 21.0002 8.55221 21.0002 7.9999V6.4138L25.5863 10.9999L21.0002 15.586V13.9999C21.0002 13.4476 20.5525 12.9999 20.0001 12.9999H8.99992V9.99985C8.99981 9.44754 8.55197 8.99993 7.99971 9.00005C7.73463 9.00011 7.48039 9.1054 7.29289 9.29285L0.292812 16.293C-0.0976041 16.6835 -0.0976041 17.3165 0.292812 17.707L7.29294 24.7071C7.48045 24.8947 7.73475 25.0001 7.99995 25.0001C8.13138 25.0006 8.26163 24.9747 8.38292 24.9242C8.75652 24.7692 9.00004 24.4046 8.99992 24.0001V21.0001H16.0001C16.5524 21.0001 17.0001 20.5523 17.0001 20C17.0001 19.4477 16.5524 19 16.0001 19H7.99995C7.44763 19 6.99991 19.4477 6.99991 20V21.5861L2.41382 17L6.99991 12.4139V13.9999C6.99991 14.5522 7.44763 15 7.99995 15H19.0001V18C19.0002 18.5523 19.4481 18.9999 20.0003 18.9998C20.2654 18.9998 20.5196 18.8945 20.7071 18.707L27.7073 11.7069C28.0976 11.3164 28.0976 10.6834 27.7073 10.2929Z')
                                          defs
                                            clippath#clip0_449_18
                                              rect(width='28' height='28' fill='white')

                                  .small-group                                   
                                      .dropdown
                                        .dropdown-toggle(data-bs-toggle="dropdown")
                                          | Monthly  
                                        ul.dropdown-menu
                                          li 
                                            a.dropdown-item Monthly  
                                          li 
                                            a.dropdown-item Yearly
                                          li 
                                            a.dropdown-item Weekly
                                      .input-group
                                        input.form-control(type="text", placeholder="30")
                                        span.input-group-text.bg-transparent BTC
                                .form-group.d-block.mb-0
                                  label  Total   
                                  .input-group
                                    input.form-control(type="text", placeholder="58794,53")
                                    span.input-group-text.bg-transparent TUSD
                                .form-group.mb-0
                                  .btn.btn-primary.btn-block.text-center  Buy  Now!
                                  // Root element of PhotoSwipe. Must have class pswp.
                                .pswp(tabindex='-1', role='dialog', aria-hidden='true')
                                  .pswp__bg
                                  .pswp__scroll-wrap
                                    .pswp__container
                                      .pswp__item
                                      .pswp__item
                                      .pswp__item
                                    .pswp__ui.pswp__ui--hidden
                                      .pswp__top-bar
                                        .pswp__counter
                                        button.pswp__button.pswp__button--close(title='Close (Esc)')
                                        button.pswp__button.pswp__button--share(title='Share')
                                        button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                                        button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                                        .pswp__preloader
                                          .pswp__preloader__icn
                                            .pswp__preloader__cut
                                              .pswp__preloader__donut
                                      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                                        .pswp__share-tooltip
                                      button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
                                      button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
                                      .pswp__caption
                                        .pswp__caption__center
            // Container-fluid Ends
        include ../../components/footer 
    include ../../components/footer-files
    