- var theme_customizer      = true;
- var sidebar               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-12.col-sm-6
                  h3
                    | State Color

                .col-12.col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html').home-item                                       
                        i(data-feather="home")
                    li.breadcrumb-item Ui Kits
                    li.breadcrumb-item.active State Color
          // Container-fluid starts                    
          .container-fluid
            .row
              .col-sm-12
                .card.colors-palette-section
                  .card-header.pb-0
                    h5 Colors Palette
                  .card-body.pb-0
                    .row 
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-primary.b-r-10.text-center
                            h5 Primary 
                            .color-name
                              h6 #6362E7
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-secondary.b-r-10.text-center
                            h5 Secondary
                            .color-name
                              h6 #FFC500
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-success.b-r-10.text-center
                            h5 Success
                            .color-name
                              h6 #7DC006
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-info.b-r-10.text-center
                            h5 Info
                            .color-name
                              h6 #00B8E9
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-warning.b-r-10.text-center
                            h5 Warning
                            .color-name
                              h6 #FF8819
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-danger.b-r-10.text-center
                            h5 Danger
                            .color-name
                              h6 #E52727
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-light-1.b-r-10.text-center
                            h5 Light-1
                            .color-name
                              h6 #8F97B2
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-light.b-r-10.text-center
                            h5.font-dark Light
                            .color-name
                              h6 #F4F6FD
                      .col-xxl-2.col-xl-3.col-md-3.col-sm-4
                        .card
                          .card-body.br-10.bg-dark.b-r-10.text-center 
                            h5 Dark
                            .color-name
                              h6 #1E2F65 
            .row.color-shape
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card 
                  .card-header.pb-0
                    h5 Primary Color Shades
                  .card-body
                        .primary-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card 
                  .card-header.pb-0
                    h5 Secondary Color Shades
                  .card-body
                    
                        .secondary-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card
                  .card-header.pb-0
                    h5 Success Color Shades
                  .card-body
                   
                        
                        .success-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card
                  .card-header.pb-0
                    h5 Info Color Shades
                  .card-body
                    
                        .info-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card
                  .card-header.pb-0
                    h5 Warning Color Shades
                  .card-body
                    
                        
                        .warning-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card
                  .card-header.pb-0
                    h5 Danger Color Shades
                  .card-body
                    
                        .danger-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card
                  .card-header.pb-0
                    h5 light Color Shades
                  .card-body
                    .light-theme-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
              .col-xl-12.col-lg-6.col-md-6.col-sm-6.xl-50
                .card
                  .card-header.pb-0
                    h5 Dark Color Shades
                  .card-body
                    
                        .dark-color
                          ul
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                            li
                              span
                
            
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files   
